{% extends "base.html" %}
{% block content %}
  <h1>user addresses</h1>
  {% for adress in object_list %}
    <p>
      {{ adress.name }}<br>
      {{ adress.address1 }}<br>
      {{ adress.address2 }}<br>
      {{ adress.city }}<br>
      {{ adress.get_country_display }}<br>
    </p>
    <p>
      <a href="{% url 'main:address_update' adress.id %}">Update address</a>
    </p>
    <p>
      <a href="{% url 'main:address_delete' adress.id %}">Delete address</a>
    </p>
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <p>
    <a href="{% url 'main:address_create'   %}">Add new address</a>
  </p>
{% endblock content %}